<launch>

	<arg name="quad"/>
	<arg name="goal_topic" default="goal"/> <!--goal for simulation (or HW with NUC and SD connected via wifi), goal_nuc for HW with NUC and SD connected via ethernet -->
	<arg name="goal_jackal_topic" default="jackal_velocity_controller_mio/cmd_vel"/> 


	<node ns="$(arg quad)" name="faster" pkg="faster" type="faster_node" output="screen" clear_params="true"> 

    <rosparam file="$(find faster)/param/faster.yaml" command="load"/>
    <rosparam file="$(find global_mapper_ros)/cfg/global_mapper.yaml" command="load" ns="mapper"/>


        <!-- Subscriptions -->
		<remap from="~state" to="state"/>
		<remap from="~odom" to="odometry/filtered_no"/>

		<!-- <remap from="~odom" to="odometry/local_filtered"/> -->
		<remap from="~flightmode" to="flightmode" />
		<remap from="~term_goal" to="term_goal" />
		<remap from="~occup_grid" to="global_mapper_ros/occupancy_grid"/> <!--PointCloud of the map-->
		<remap from="~unknown_grid" to="global_mapper_ros/unknown_grid"/> <!--PointCloud of the map-->
		<remap from="~frontier_grid" to="global_mapper_ros/frontier_grid"/> <!--PointCloud of the map-->

		<!--HARDWARE:    camera/depth/color/points -->
		<!--SIMULATION:  camera/cloud -->
		<remap from="~pcloud" to="camera/cloud"/> <!--PointCloud from the camera-->

		<!-- Publications -->
		<remap from="~traj" to="traj"/>
		<remap from="~trajs_sphere" to="trajs_sphere"/>
		<remap from="~goal" to="$(arg goal_topic)" />
		<!-- <remap from="~goal_jackal" to="jackal_velocity_controller/cmd_vel" /> -->
		<remap from="~goal_jackal" to="autonomous_cmd_vel" />
		<remap from="~setpoint" to="setpoint" />
        <remap from="~log_topic" to="log_topic" />
		

	</node>

</launch>
