<launch>
	<arg name="quad" default="SQ01s"/>
	
	<!-- Start faster commands -->
	<node ns="$(arg quad)" name="faster_commands" pkg="faster" type="faster_commands.py" output="screen"/>

	<!-- Start Rviz -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find acl_demos)/rviz_cfgs/cvx.rviz"/>

	<!-- Start GUI -->
	<node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" args="--perspective-file $(find acl_demos)/rqt_cfgs/demo_interface.perspective"/>

</launch>
