<launch>

	<arg name="name" default="JA01"/>
	<arg name="goal_topic" default="goal"/>

	 <include file="$(find multi_jackal_tutorials)/launch/one_jackal.launch">
	      <arg name="world_name" value="density01seed0.world"/>
	  </include> 

<node ns="$(arg name)" pkg="faster" 
        type="goal_odom_to_cmd_vel_state.py" 
        name="goal_odom_to_cmd_vel_state" 
        output="screen"
        args="0 0 0 0 0 0 $(arg name)/camera_link $(arg name)/camera 100" />

</launch>
