<launch>
	<arg name="quad" default="SQ01s"/>
	
    <!-- Arguments -->
    <!--<arg name="joy" default="false"/>-->
    <arg name="gazebo" default="true"/>

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0" />
    

    <!-- Spawn vehicle in Gazebo -->
    <group if="$(arg gazebo)">

        <!-- Spawn vehicle in gazebo -->
        <include file="$(find acl_sim)/launch/spawn_quadrotor_with_asus.launch">
            <arg name="name" value="$(arg quad)"/>
            <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
            <arg name="x" value="$(arg x)"/>
            <arg name="y" value="$(arg y)"/>
            <arg name="z" value="$(arg z)"/>
        </include>

         <!-- Camera to body tf -->
        <node pkg="tf" type="static_transform_publisher" name="camera2body" args="0 0 0 -1.57 0 -1.57 $(arg quad) $(arg quad)/camera 100" />

    </group>

       
    <!-- Vicon to world tf -->
    <node pkg="tf" type="static_transform_publisher" name="vicon2world" args="0 0 0 0 0 0 world vicon 100" />

    <!-- Start Perfect Tracker -->
	<node ns="$(arg quad)" name="perfect_tracker" pkg="faster" type="perfect_tracker.py" output="screen"/>

</launch>
