<?xml version="1.0"?>

<launch>
   <arg name="name" default="quadrotor"/>
   <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
   <arg name="x" default="0.0"/>
   <arg name="y" default="0.0"/>
   <arg name="z" default="0.3"/>

   <include ns="$(arg name)" file="$(find faster)/launch/spawn_quadrotor.launch">
     <arg name="name" default="$(arg name)"/>
     <arg name="model" value="$(find faster)/urdf/quadrotor_with_asus.gazebo.xacro"/>
     <arg name="tf_prefix" default="$(arg tf_prefix)"/>
     <arg name="x" default="$(arg x)"/>
     <arg name="y" default="$(arg y)"/>
     <arg name="z" default="$(arg z)"/>   
   </include>

</launch>