<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://www.ros.org/wiki/xacro">
   
    <xacro:property name="M_PI" value="3.1415926535897931" />
    
    <!-- Included URDF Files -->
    <xacro:include filename="$(find hector_quadrotor_description)/urdf/quadrotor_base.urdf.xacro" />
    
    <!-- Instantiate quadrotor_base_macro once (has no parameters atm) -->
    <xacro:quadrotor_base_macro />
    
    <!-- Kinect -->
    <xacro:include filename="$(find hector_sensors_description)/urdf/kinect_camera.urdf.xacro" />
    <xacro:kinect_camera name="camera" parent="base_link">
      <origin xyz="0.05 0.0 -0.06" rpy="0 0 0"/>
    </xacro:kinect_camera>
    
</robot>
  
