<robot name="window_model">
  <link name="window_body">
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" />
      <inertia  ixx="3.0833e-5" ixy="0"  ixz="0"  iyy="3.0833e-5"  iyz="0"  izz="3.0833e-5" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://acl_sim/meshes/other/window_buena.stl" scale="3 3 3"/>
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 10" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://acl_sim/meshes/other/window_buena.stl" scale="0.1 0.1 0.1"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="window_body">
    <material>Gazebo/Orange</material>
    <turnGravityOff>true</turnGravityOff>
  </gazebo>
</robot>