<launch>

	<arg name="quad"/>

	<node ns="$(arg quad)" name="cvx" pkg="cvx" type="cvx_node" output="screen" clear_params="true">

    <rosparam file="$(find cvx)/param/cvx.yaml" command="load"/>


<!--         <param name="~u_max" value="2.0" type="double"/>
        <param name="~u_min" value="0.3" type="double"/>
        <param name="~use_ff" value="false" type="bool"/>
        <param name="~z_land" value="0.02" type="double"/> -->

        <!-- Subscriptions -->
		<remap from="~state" to="state"/>
		<remap from="~flightmode" to="flightmode" />
		<remap from="~term_goal" to="term_goal" />
		<remap from="~occup_grid" to="global_mapper_ros/occupancy_grid"/> <!--PointCloud of the map-->
		<remap from="~unknown_grid" to="global_mapper_ros/unknown_grid"/> <!--PointCloud of the map-->
		<remap from="~frontier_grid" to="global_mapper_ros/frontier_grid"/> <!--PointCloud of the map-->
		<remap from="~pcloud" to="camera/cloud"/> <!--PointCloud from the camera.     camera/depth/color/points  for real HW-->

		<!-- Publications -->
		<remap from="~traj" to="traj"/>
		<remap from="~trajs_sphere" to="trajs_sphere"/>
		<remap from="~goal" to="goal" />
		<remap from="~setpoint" to="setpoint" />
        <remap from="~log_topic" to="log_topic" />
		

	</node>

</launch>
