<launch>

	<arg name="quadrotor"/>
	<arg name="filter"/>

	<node ns="$(arg quadrotor)" name="reactive_planner" pkg="acl_planning" type="reactive_planner" output="screen" clear_params="true">

		<rosparam file="$(find acl_planning)/param/react.yaml" command="load"/>

		<remap from="~vicon" to="state_estimate"/>
		<remap from="~partitioned_scan" to="partitioned_scan"/>
		<remap from="~clean_scan" to="clean_scan"/>
		<remap from="~global_goal" to="global_goal"/>
		<remap from="~new_global_goal" to="new_global_goal"/>
		<remap from="~int_goal" to="int_goal"/>	
		<remap from="~last_global_goal" to="last_global_goal"/>
		<remap unless="$(arg filter)" from="~scan" to="scan"/>	
		<remap if="$(arg filter)" from="~scan" to="filtered_scan"/>

	</node>

	<node if="$(arg filter)" ns="$(arg quadrotor)" name="scan_filter" pkg="acl_planning" type="gpf" output="screen" clear_params="true">

		<param name="ground_range" type="double" value="4"/>

		<remap from="~vicon" to="state_estimate"/>
		<remap from="~scan" to="scan"/>
		<remap from="~filtered_scan" to="filtered_scan"/>	
	</node>

</launch>